@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/bootstrap-4.3.1/bootstrap';

@import 'base/base';
@import 'base/reset';
@import 'base/typography';

@import 'layout/header';
@import 'layout/main-section';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/inputs';

@import 'pages/contact';
@import 'pages/home';

@import 'themes/admin';
@import 'themes/dark';
@import 'themes/theme';

@import 'vendors/bootstrap-4.3.1/bootstrap.scss';
