
.section-main__container{
    width:100%;
    margin: 0 auto;
}

.rose{
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}


//QUERIES
@media only screen and (max-width: 768px){
    .leo .grafico .red {
        display: block; 
        width: 100vw;
        text-align: center;
        margin: 0 auto;
    }
    .rome{
        display:block;
        justify-content: space-evenly;
    }
    .leo{
        padding: 0 30px;
    }
}